In [ ]:
Mutable => add,update and delete
    list
    dict
    set
Immutable 
    int
    float
    str
    tuple

In [ ]:
id()  => Memory location
type() => data type

In [2]:
if 100:
    print("Something")
else:
    print("Something else")

Something

In [ ]:
Non zero values => None,0,[],{},(),""

In [ ]:
Looping Statements => For , While

In [ ]:
l = [10,20,30,40,50]
for [userdefined_variable] in [iterable_datatype]:
    [statements]
[Outside of for loop]

In [4]:
l = [10,20,30,40,50]
for i in l:
    print(i*i)

100
400
900
1600
2500

In [5]:
s = "Python is easy to learn"
for value in s:
    print(value)

P
y
t
h
o
n

i
s

e
a
s
y

t
o

l
e
a
r
n

In [6]:
d = {"email":"abc@gmail.com","name":"abc","id":100}
for x in d:
    print(x)

email
name
id

In [ ]:
Iterable data types :
    str
    tuple
    list
    dict
    set
Non iterable data types :
    int
    float

In [10]:
l = [10,20,30,40,50]
sum = 0
for i in l:
    sum = sum + i
print(sum)

150

In [ ]:
range(10) => 0 to 9
range(10,50) => 10,11,12.........49
range(10,50,5) 10,15,20,25....45

In [11]:
for value in range(10,50,5):
    print(value)

10
15
20
25
30
35
40
45

In [12]:
print(list(range(50)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]

In [13]:
print(tuple(range(50)))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49)

In [14]:
print(set(range(50)))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49}

In [16]:
num1 = range(10)
for value in num1:
    print(value)

0
1
2
3
4
5
6
7
8
9

In [ ]:
pass
continue
break

In [21]:
s = "Python Sample string"
vowel_count = 0
consonant_count = 0
for i in s:
    if i in 'aeiouAEIOU':
        vowel_count += 1
    elif i == " ":
        pass
    else:
        consonant_count += 1
print(vowel_count)
print(consonant_count)

4
14

In [29]:
s = "Python Sample string"
vowel_count = 0
consonant_count = 0
for i in s:
    if i in 'aeiouAEIOU':
        vowel_count += 1
    elif i == " ":
        
        print("lets check if i see any output")
        continue
    else:
        consonant_count += 1
print(vowel_count)
print(consonant_count)

lets check if i see any output
lets check if i see any output
4
14

In [30]:
if 100:
    print("Hello")
else:
    print("Hi")

Hello

In [33]:
l = [10,20,30,-1,100,20,50,60]
for value in l:
    if value < 0:
        print("Number is negative",value)
        break
    else:
        print(value)

10
20
30
Number is negative -1

In [38]:
nums = [10,20,30,40,50,60,70,80]
key = 50
for value in l:
    if value == key:
        print("key is present")
        break
else:    
    print("key is not found")

key is present

In [41]:
nums = [10,20,30,40,50,60,70,80]
key = 50
flag = False
for value in l:
    if value == key:
        flag = True
        break
        
if flag == True:
    print("key is found")
else:
    print("key is not found")

key is found

In [ ]:
enumerate => index,value

In [43]:
l = [10,20,30,40,50]
for index,value in enumerate(l):
    print(index,value)

0 10
1 20
2 30
3 40
4 50

In [45]:
nums = [10,20,30,40,50,60,70,80]
key = 30

for index,value in enumerate(nums):
    if value == key:
        print("key is present at the index",index)
        break
else:
    print("key is not found")

key is present at the index 2

In [46]:
l = [10,20,30,40,50]
print(l[1])

20

In [49]:
l = [10,20,30,40,50,60]
for value in l:
    print(value)
else:
    print("Else this statement will be executed")

10
20
30
40
50
60
Else this statement will be executed

In [52]:
l = [10,20,30,40,50,60]
for value in l:
    if value == 40:
        print("40 is present")
        break
    else:
        print(value)
else:
    print("This statement is executed")

10
20
30
40 is present

In [ ]:
num1 = 6
# Perfect no or not 
# 1 + 2 + 3 = 6

Possible divisors = 1 2 3 4 5
Divisors  = 1 2 3 
Sum =

In [60]:
num1 = 28
sum = 0
for i in range(1,num1):
    if num1 % i == 0:
        sum += i
    else:
        pass
if num1 == sum:
    print("num1 is a perfect number",num1)
else:
    print("num1 is not a perfect number",num1)

num1 is a perfect number 28

In [61]:
num1 = 6
sum = 0
for value in range(1,num1 // 2 + 1):
    print(value)
    if num1 % value == 0:
        sum = sum + value
if sum == num1:
    print("Perfect number")
else:
    print("Not a perfect number")

1
2
3
Perfect number

In [63]:
for i in range(1,11):
    print(5*i)

5
10
15
20
25
30
35
40
45
50

In [66]:
for value in range(1,6):
    for j in range(1,11):
        print(value*j,end =" ")
    print("\n")

1 2 3 4 5 6 7 8 9 10

2 4 6 8 10 12 14 16 18 20

3 6 9 12 15 18 21 24 27 30

4 8 12 16 20 24 28 32 36 40

5 10 15 20 25 30 35 40 45 50

In [69]:
print(10,20,end=" ",sep="|")

10|20

In [71]:
for value1 in range(0,5):
    for value2 in range(100,105):
        print(value1,value2)

0 100
0 101
0 102
0 103
0 104
1 100
1 101
1 102
1 103
1 104
2 100
2 101
2 102
2 103
2 104
3 100
3 101
3 102
3 103
3 104
4 100
4 101
4 102
4 103
4 104

In [76]:
print(10,20,'Python',end=" ",sep=",")
print('Hi',end=" ")
print('Java')

10,20,Python Hi Java

In [78]:
#Fibonacci Series
num = 5
result = 1
while num > 1:
    result*=num
    num -= 1
print(result)

120

In [79]:
count = 1
sum = 0

while count <= 20:
    sum = sum + count
    count = count + 1
    if count == 15:
        break
else:
    print("statement gets executed")
print(sum)

105