In [1]:
print("Hi")

Hi

In [ ]:
Datatypes : 
    1. int 10 15 
    2. float 10.255 56.555
    3. str 'Hi' "Python" """Welcome to python """
    4. list [45,70,80,50,60] [10,20,30,40,"Python","Java",[100,200,300,400]]
    5. tuple (10,20,30,40,"Python","Java")
    6. dict {"email":"abc@gmail.com","contact":"974445577888","age":57}
    7. set {10,20,30,40}
    8. bool True False
    None

In [ ]:
everything in python is object

In [2]:
num1 = 100
num2 = 200
num3 = num1 + num2
print(num3)

300

In [ ]:
PEP 8 => guidelines about how your python code should look
PEP => Python Extention purpose

In [ ]:
balance = 455
remaining_balance = 500

first_name

In [ ]:
num_one = 100
FIRST_NAME = "Kunal"

In [ ]:
num_one = 100
FILE_LOCATION = ""

In [ ]:
* Always give meaningful variable names 

1. underscore first_name
2. for variable name it should start with lower_case aplha 
3  For constants ALL CAPS 
4. digits are allowed but not ata the start ,only special char allowed  _

In [3]:
name = "ABC"
print(type(name))

<class 'str'>

In [4]:
nums = [100,200,300,400,500]
print(type(nums))

<class 'list'>

In [5]:
print(10,20,30)

10 20 30

In [6]:
d = {1:1,2:4,3:9,4:16}
print(type(d))

<class 'dict'>

In [ ]:
Immutable Vs Mutable

In [ ]:
id() : moemory location

In [10]:
num1 = 100
print(num1,id(num1))

num1 = 200
print(num2,id(num2))

100 1891547792
200 1891550992

In [ ]:
Memory Location :
    1. Immutable : At same memory location I can not change the value 
    2. Mutable : I can change the value at same memory location

In [11]:
s = "Python"
print(id(s))
s="Java"
print(id(s))

1466928280384
1466935625688

In [12]:
l = [10,20,30,40]
print(l,id(l))
l.append(50)
print(l,id(l))

[10, 20, 30, 40] 1466970595208
[10, 20, 30, 40, 50] 1466970595208

In [ ]:
Mutable : add,update and delete operations
immutable : can not perform add,update and delete operations

In [ ]:
Immutable :
    int
    float
    tuple
    str

Mutable :(add,update and delete)
    list
    dict
    set

In [13]:
s = {10,20,20,30,30,30,40,50,60,50,70}
print(s,type(s))

{70, 40, 10, 50, 20, 60, 30} <class 'set'>

In [ ]:
type() => return data type of the variable
id() => return memory location of the variable

In [14]:
num1 = 257
num2 = 257
print(id(num1),id(num2))

1466970315120 1466970315440

In [ ]:
0 - 256 => Object intering

In [19]:
num1 = 12
num2 = 12
print(id(num1),id(num1))

1891544976 1891544976

In [21]:
num1 = 256
num2 = 256
print(id(num1),id(num2))

1891552784 1891552784

In [ ]:
Operators :
    1. Arithmetic operators(+,-,*,/ => true division , // => floor division , ** power ,% => mod)
    2. Comparision operators(== , <= , >=,< , >, !=)
    3. Membership operators (in , not in)
    4. Identity Operators (is, is not)
    5. Assignment operators(=,+=,-=,*=,/=)
    6. Logical operators(AND,OR,NOT)

In [23]:
print(10 / 3)
print(10 // 3)
print(10 % 3)

3.3333333333333335
3
1

In [25]:
print(10 ** 2)

100

In [26]:
s1 = "Python"
s2 = "Python"
print(s1 == s2)

True

In [27]:
s1 = "Python"
s2 = "python"
print(s1 == s2)

False

In [28]:
print (10 > 5)

True

In [30]:
l = [100,200,300,400,500]
print(4000 in l)

False

In [32]:
s1 = """python"""
print('n' in s1)

True

In [33]:
s1 = "python"
print('y' not in s1)

False

In [34]:
print(5 in 500)

TypeError: argument of type 'int' is not iterable

In [ ]:
Not iterable : int float
Iterable : list,tuple,dict,set,str

In [35]:
l = [100,200,300,400,500]
print(1000 not in l)

True

In [36]:
d = {1: 100,2:200,3:300}
print(3 in d)

True

In [37]:
d = {1: 100,2:200,3:300}
print(300 in d)

False

In [ ]:
in not in will not work with int,float 
in case of dict in/not in will only check with keys , will not check with the values

In [38]:
num1 = 1000
num2 = 1000

print(num1 == num2)
print(num1 is num2)

True
False

In [39]:
num1 = 18
num2 = 18

print(num1 == num2)
print(num1 is num2)

True
True

In [40]:
l1 = [10,20,30]
l2 = [10,20,30]

print(l1 == l2)
print(l1 is l2)

True
False

In [ ]:
== Values
is Memory Location

In [41]:
num1 = 100
print(num1)
num1 += 10
print(num1)
num1 -= 5
print(num1)

100
110
105

In [42]:
print(100 != 100 or 100 == 100 )

True

In [ ]:
True/False :
    comparison ==,!=,<,>,=,>= 
    membership 
    logical 
    identity operators

In [ ]:
type() for datatype
id() for memory location

In [ ]:
immutable :
    int float tuple str
mutable 
    list dict set

In [ ]:
Iterable :
    string , list ,dict ,set ,tuple 
    
Not Iterable : int ,float