In [3]:
d={}
l1=range(1,92,10)
l2=range(10,101,10)
for key in zip(l1,l2):
    d.setdefault(key,0)
print(d)

{(1, 10): 0, (11, 20): 0, (21, 30): 0, (31, 40): 0, (41, 50): 0, (51, 60): 0, (61, 70): 0, (71, 80): 0, (81, 90): 0, (91, 100): 0}

In [6]:
d={(1, 10): 0, (11, 20): 0, (21, 30): 0, (31, 40): 0, (41, 50): 0, (51, 60): 0, (61, 70): 0, (71, 80): 0, (81, 90): 0, (91, 100): 0}
num1=45
for key in d:
    if key[1]>num1:
        d[key]+=1
print(d)

{(1, 10): 0, (11, 20): 0, (21, 30): 0, (31, 40): 0, (41, 50): 1, (51, 60): 1, (61, 70): 1, (71, 80): 1, (81, 90): 1, (91, 100): 1}

In [6]:
a = 10,20
print(type(a))

<class 'tuple'>

In [1]:
def createStudentData(list_stud,**kwargs):
    list_stud.append(kwargs)

In [2]:
list_stud = []
createStudentData(list_stud,name="vaish",maths = 50,english = 50)

In [3]:
list_stud

[{'name': 'vaish', 'maths': 50, 'english': 50}]

In [4]:
createStudentData(list_stud,name="pari",maths = 40,english = 45)
createStudentData(list_stud,name="esh",maths = 42,english = 41)
createStudentData(list_stud,name="rubby",maths = 42,english = 40)

In [5]:
list_stud

[{'name': 'vaish', 'maths': 50, 'english': 50},
 {'name': 'pari', 'maths': 40, 'english': 45},
 {'name': 'esh', 'maths': 42, 'english': 41},
 {'name': 'rubby', 'maths': 42, 'english': 40}]

In [10]:
def getTopper(list_stud)
    sum=0
    for stu in list_stud:
        d = stud['maths'] + stud['english']
        print(d)

SyntaxError: invalid syntax (<ipython-input-10-83029032afa4>, line 1)

In [16]:
d={}
l1 = range(1,92,10)
l2 = range(10,101,10)
for i in zip(l1,l2):
    d.setdefault(i,0)
print(d)

{(1, 10): 0, (11, 20): 0, (21, 30): 0, (31, 40): 0, (41, 50): 0, (51, 60): 0, (61, 70): 0, (71, 80): 0, (81, 90): 0, (91, 100): 0}

In [21]:
d = {(1, 10): 0, (11, 20): 0, (21, 30): 0, (31, 40): 0, (41, 50): 0, (51, 60): 0, (61, 70): 0, (71, 80): 0, 
     (81, 90): 0, (91, 100): 0}
l1 = [14,15,56,78,48,21]
for num1 in l1:
    for key,value in d.items():
        if num1 > key[0] and num1 < key[1]:
            d[key] = 1
print(d)

{(1, 10): 0, (11, 20): 1, (21, 30): 0, (31, 40): 0, (41, 50): 1, (51, 60): 1, (61, 70): 0, (71, 80): 1, (81, 90): 0, (91, 100): 0}

In [26]:
d = {"email":"abc@gmail.com","name":"ABC","age":50}
r=d.pop("name")
print(r)
print(d)

ABC
{'email': 'abc@gmail.com', 'age': 50}

In [27]:
s = {1,3,4,9,7,2,4,3,2}
print(type(s))
print(s)

<class 'set'>
{1, 2, 3, 4, 7, 9}

In [31]:
s = {10,20,70,30,40,50,60}
print(s)
p = sorted(s)
print(p)

{70, 40, 10, 50, 20, 60, 30}
[10, 20, 30, 40, 50, 60, 70]

In [35]:
s1 = {10,20,30,40,50,60}
s2 = {40,50,60,70,80,90}

s3 = s2.symmetric_difference(s1)
print(s3)

{70, 10, 80, 20, 90, 30}

In [36]:
import random

In [37]:
print(random.random())

0.12698624527446367

In [51]:
dice = [1,2,3,4,5,6]
print(random.choice(dice))

6

In [121]:
print(random.randint(10,20))

20

In [7]:
def studentsList(list_student,**info):
    list_student.append(info)

In [8]:
list_student = []
studentsList(list_student,name = 'abc',english = 45,maths = 42,science = 46)

In [9]:
studentsList(list_student,name = 'def',english = 45,maths = 42,science = 46)
studentsList(list_student,name = 'hal',english = 43,maths = 49,science = 41)
studentsList(list_student,name = 'vpb',english = 45,maths = 42,science = 50)

In [10]:
list_student

[{'name': 'abc', 'english': 45, 'maths': 42, 'science': 46},
 {'name': 'def', 'english': 45, 'maths': 42, 'science': 46},
 {'name': 'hal', 'english': 43, 'maths': 49, 'science': 41},
 {'name': 'vpb', 'english': 45, 'maths': 42, 'science': 50}]

In [17]:
def calMarksAvg(list_student):
    for student in list_student:
        print(student)
        total_marks = 0
        count = 0
        for k,v in student.items():
            if k != 'names':
                total_marks += v
                count += 1
        student['avg'] = total_marks/count

In [16]:
calMarksAvg(list_student)

TypeError: unsupported operand type(s) for +: 'int' and 'str'