In [1]:
num1 = 100
num2 = 200
print(num1 + num2)

300

In [4]:
s1='python is easy to learn'
print(s1[5::-1])

nohtyp

In [6]:
s = "abcdaabbeededzzzaaaarrrrrrrrrr"
c = 0
for i in s:
    if s.count(i) > c:
      c=s.count(i)
      max=i
print(max)

r

In [7]:
s=" "
print(s.isspace())

True

In [8]:
s = "Learning Python is easy"
s2 = ""
for value in s:
    if value in "aeiou":
        s2 = s2 + value.upper()
    else:
        s2 = s2 + value
print(s2)

LEArnIng PythOn Is EAsy

In [ ]:
for i in s1:
    if i in 'aeiou':
        s2 = s2 + s1.upper(i)
    else:
        s2 = s2 + i
print(s2)

In [1]:
val = 0

def jackFunc(val):
    val += 2
    return val

def jillFunc(val):
    val -= 1
    return val

In [2]:
o = 0
while o < 10:
    val = jillFunc(val)
    o +=1

In [3]:
val

-10

In [36]:
def mySumFunc(*args):
    mul = 1
    for i in args:
        if i % 2 == 0:
            mul *= i 
    print(mul)

In [38]:
mySumFunc(10,21,11,4)

40

In [26]:
mul =1
for i in (10,21,2,4):
    if i % 2 == 0:
        mul *= i 
print(mul)

80

In [51]:
def evenWordsCollector(*args):
    l = []
    for i in args:
        if len(i) % 2 == 0:
            l.append(i)
    res = '*'.join(l)
    return res

In [52]:
evenWordsCollector('pari','vamsy','vaishu','eshrath','farha','janu','baby')

'pari*vaishu*janu*baby'

In [67]:
def createEmpData(list_emp,**kwargs):
    list_emp.append(kwargs)

In [70]:
list_emp = []
createEmpData(list_emp,name='abc',age=19)

In [71]:
createEmpData(list_emp,name='def',age=20,location='bangalore')

In [72]:
list_emp

[{'name': 'abc', 'age': 19},
 {'name': 'def', 'age': 20, 'location': 'bangalore'}]

In [75]:
list_emp[0]['name']

'abc'

In [76]:
createEmpData(list_emp,name='ghi',age=20,location='bangalore',salary=10000)

In [77]:
list_emp

[{'name': 'abc', 'age': 19},
 {'name': 'def', 'age': 20, 'location': 'bangalore'},
 {'name': 'ghi', 'age': 20, 'location': 'bangalore', 'salary': 10000}]

In [78]:
createEmpData(list_emp,name='klm',age=20,location='bangalore',salary=50000)

In [79]:
list_emp

[{'name': 'abc', 'age': 19},
 {'name': 'def', 'age': 20, 'location': 'bangalore'},
 {'name': 'ghi', 'age': 20, 'location': 'bangalore', 'salary': 10000},
 {'name': 'klm', 'age': 20, 'location': 'bangalore', 'salary': 50000}]

In [81]:
for emp in list_emp:
    if 'location' in emp:
        print(emp)

{'name': 'def', 'age': 20, 'location': 'bangalore'}
{'name': 'ghi', 'age': 20, 'location': 'bangalore', 'salary': 10000}
{'name': 'klm', 'age': 20, 'location': 'bangalore', 'salary': 50000}

In [107]:
def getPeopleSalary(list_emp,salary=50000):
    res = []
    for i in list_emp:
        if 'salary' in i and i['salary'] >= 50000:
            res.append(i)
    return res

In [108]:
getPeopleSalary(list_emp,salary=50000)

[{'name': 'klm', 'age': 20, 'location': 'bangalore', 'salary': 50000}]

In [109]:
def studentMarks(list_students,**marks):
    list_students.append(marks)

In [111]:
list_students = []
studentMarks(list_students,name = 'abc',maths = 40,english=42)

In [112]:
studentMarks(list_students,name = 'def',maths = 40,english=40)

In [113]:
studentMarks(list_students,name = 'ghi',maths = 43,english=49)

In [114]:
studentMarks(list_students,name = 'jkl',maths = 50,english=45)

In [115]:
studentMarks(list_students,name = 'abc',maths = 41,english=43)

In [116]:
list_students

[{'name': 'abc', 'maths': 40, 'english': 42},
 {'name': 'def', 'maths': 40, 'english': 40},
 {'name': 'ghi', 'maths': 43, 'english': 49},
 {'name': 'jkl', 'maths': 50, 'english': 45},
 {'name': 'abc', 'maths': 41, 'english': 43}]

In [148]:
def findingTopper(list_students):
    max = 0
    for i in list_students:
        if ((i['maths']+i['english'])/100)*100 > max:
            max = ((i['maths']+i['english'])/100)*100
        else:
            pass
    print(max)
    for i in list_students:
        if ((i['maths']+i['english'])/100)*100 == max:
            print(i)

In [149]:
findingTopper(list_students)

95.0
{'name': 'jkl', 'maths': 50, 'english': 45}

In [147]:
max = 0
for i in list_students:
    if ((i['maths']+i['english'])/100)*100 > max:
        max = ((i['maths']+i['english'])/100)*100
    else:
        pass
print(max)
for i in list_students:
    if ((i['maths']+i['english'])/100)*100 == max:
        print(i)

95.0
{'name': 'jkl', 'maths': 50, 'english': 45}